/* Formulaires
1 - Classes globales
2 - Nous rencontrer
3 - Commander
*/

/****************** 1 - Classes globales ******************/

	hr {
		margin: 20px auto;
		height: 2.0px;
		background-color: #fff;
	}

	input[type="text"], input[type="email"] {
		height: 71px;
		margin: 4px 0;
		background-color: #fff;
	}

	input[type="text"], input[type="email"], textarea {
		background-color: #fff;
		color: #000;
		max-height: 237px;
		filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.16));
		border-radius: 7px;
		justify-items: center;
	}

	input[type="submit"] {
		display: block;
		border-radius: 5px;
		margin: auto;
		height: 56px;
	}

/****************** 2 - Nous rencontrer ******************/

	.wpcf7 .submit-contact-us {
		margin-top: -20px;
		margin-bottom: 60px;
		width: 198px;
		height: 56px;
	}

	.wpcf7 .label-contact-us p {
		margin-top: 10px;
		max-height: 300px;
	}

	.wpcf7 .label-contact-us {
		z-index: 1;
		display: flex;
		position: relative;
		flex-direction: column;
	}

	.wpcf7 .holly-leaf {
		position: relative;
		left: -88px;
		bottom: 125px;
		z-index: -1;
	}

/****************** 3 - Commander ******************/

	.wpcf7 input[type="number"] {
		width: 51px;
		font-weight: 400;
		text-align: center;
		height: 56px;
		border-radius: 5px 0 0 5px;
		border: 0;
		background-color: #fff;
		color: #000;
		opacity: 1;
	}

	.form_style {
		position: relative;
		z-index: 2;
	}

	.form_style form, .info, .delivery {
		margin: auto;
		max-width: 383px;
	}

	.info-delivery {
		display: flex;
		padding-bottom: 15px;
		width: auto;
	}

	.info-delivery label {
		font-size: 20px;
		font-weight: 400;
	}

	.info-delivery hr {
		height: 447px;
		width: 2px;
		margin: 20px 10px 16px 10px;
	}

	.info-delivery h2 {
		margin-top: 20px;
	}

	.info-delivery {
		flex-wrap: wrap;
	}

	.info {
		margin-left: 0;
	}

	.delivery {
		margin-right: 0;
	}

	.wpcf7 form > div, .wpcf7 form > p {
		margin-bottom: 0;
	}

	label #text {
		line-height: 24px;
		font-size: 20px;
		padding: 10px;
	}

	.wpcf7 input[type="number"]::-webkit-inner-spin-button, .wpcf7 input[type="number"] {
		-webkit-appearance: none;
	}

	.plus-minus {
		display: flex;
		height: 56px;
		padding: 0;
		flex-direction: column;
		position: relative;
		right: 5.5px;
	}

	.plus-minus span {
		margin: 0;
		height: 28px;
		line-height: 0;
	}

	.plus-minus input[type="text"] {
		color: #fff;
		font-weight: 400;
		font-size: 20px;
		padding: 10px;
		height: 28px;
		margin: 0;
		width: 31px;
		background-color: #DC9F96;
		filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0));
	}

	.plus-minus .plus {
		border-radius: 0 5px 0 0;
		border: 0.5px solid #DC9F96;
		border-bottom: 0.5px solid #ffffff;
	}

	.plus-minus .minus {
		border-radius: 0 0 5px 0;
		border: 0.5px solid #DC9F96;
		border-top: 0.5px solid #ffffff;
	}

	.vignettes_container_commande {
		display: flex;
		margin-bottom: 0;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px 20px;
	}

	.vignettes_container_commande article {
		width: 193px;
	}    

	.nombre-fruit-container {
		display: flex;
		margin-top: 15px;
		justify-content: space-between;
		margin: 15px auto 0 auto;
	}

	.fruit-number-button {
		width: auto;
		padding: 0;
		width: 100px;
	}