/* Structure CSS
1 - Classes globales
2 - Accueil
3 - Nous rencontrer
4 - Commander
*/

/****************** 1 - Classes globales ******************/

/* Import de la font Syne depuis Google Fonts et application globale */
@import url(
'https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

#page, main, footer {
    max-width: 1440px;
    margin:auto;
}

.ast-separate-container #primary {
    margin:0;
}


#post-7, #post-37, #post-40 {
    padding:0;
    width: 100%;
    margin-bottom: 0px;
}

.ast-container {
    padding:0;
    max-width: 1440px;
    min-width: 320px;
}
.hook-admin {
    font-size: 16px;
    padding-right: 20px;
}

header {
    height: 60px;
}

/****************** 2 - Accueil ******************/
    .img-1 {
        width: 48.33%;
        height: auto;
    }
    .footer-banner {
        margin-top: 0;
        position: relative;
    }

    .full-width{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .opinion-text {
        width: 196px;
    }

    .entry-content[ast-blocks-layout] > .vignettes-accueil-container {
        max-width: 820px;
        display : flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px 30px ;
        padding: 0 10px;
    }
    .vignettes-accueil-container div{
        display: flex;
        justify-content: center;
    }

/****************** 3 - Nous rencontrer ******************/

    .meet_us_columns_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 0;
        width: fit-content;
    }

    .position-branch-team{
        max-width: 191px;
        height: auto;
        position: relative;
        bottom: 219px;
        right: 40px;
        display: flex;
        justify-content: end;
        margin-bottom: -220px;
        z-index: 5;
    }
    .banner-img {
        margin-bottom:-1px;
    }
    
    #post-40 .team-banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .team-columns {
        display: flex;
        justify-content: center;
        max-width: 981px;
        margin: 0 auto;
    }



    .team-banner h2 {
        margin-bottom: 30px;
        margin-top: 20px;
    }


/****************** 4 - Commander ******************/
    .banner-commande {
        max-width: 860px;
        padding: 20px 10px 25px 10px;
    }

    .banner-commande hr {
        padding: 0;
    }

    .banner-commande-columns{
        max-width: 860px;
        margin:auto 0 auto 30px;
    }